.main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;

    mat-form-field {
        width: 100%;
    }
}

.titles {
    text-align: center;
    background-color: rgb(78, 78, 77);
    color: aliceblue;
    border-radius: 5px;
}

.subtitle {
    text-align: center;
    color: aliceblue;
    background-color: rgb(78, 78, 77);
}

.aaa{
    display: flex;
}

