<h1>{{header | uppercase}}</h1>
<h3>{{subtitle | uppercase}}</h3>
<div class="imgDiv">
        <mat-tab-group>
                <mat-tab label="Find gym nearby or a place to train"> <img mat-card-image layout-align="center center"
                                fluid src="assets/images/1.jpg" thumbnail width="1400" height="800" rounded />
                </mat-tab>
                <mat-tab label="Start using training tracker"> <img mat-card-image fluid src="assets/images/2.jpg"
                                thumbnail width="1400" height="800" rounded /> </mat-tab>
                <mat-tab label="Get the results you have always dreamed about!"> <img mat-card-image fluid
                                src="assets/images/3.jpg" thumbnail width="1400" height="800" rounded /> </mat-tab>
        </mat-tab-group>
</div>
<div class="cards">
        <mat-card class="infoCard">
                <mat-card-header>
                        <div mat-card-avatar class="card"></div>
                        <mat-card-title>What can you do with our app?</mat-card-title>
                        <mat-card-subtitle>Add various trainings into your daily routine</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class='cardImg' src="assets/images/card.png">
                <mat-card-content>
                        <p>
                                With our app you can add almost every kind of training you can imagine!
                                Just add it and save it, so when you get to your training place, open it and see
                                what is your training for today.
                        </p>
                </mat-card-content>
                <mat-card-actions>
                        <button mat-button>SHARE US TO YOUR FRIENDS</button>
                </mat-card-actions>
        </mat-card>
        <mat-card class="infoCard">
                <mat-card-header>
                        <div mat-card-avatar class="card"></div>
                        <mat-card-title>What are the frequently asked questions?</mat-card-title>
                        <mat-card-subtitle>Read FAQ or ask us whatever you want!</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class='cardImg' src="assets/images/card2.jpeg">
                <mat-card-content>
                        <p>
                                If you have additional questions about this app,
                                you can try to find your questions in FAQ,
                                but also you can contact us with the questions of 
                                your choice.
                                Just follow buttons bellow!
                        </p>
                </mat-card-content>
                <mat-card-actions>
                        <button mat-button>FAQ</button>
                        <button mat-button>CONTACT FORM</button>
                </mat-card-actions>
        </mat-card>
        <mat-card class="infoCard">
                <mat-card-header>
                        <div mat-card-avatar class="card"></div>
                        <mat-card-title>Lets grow together</mat-card-title>
                        <mat-card-subtitle>Register now and dive into world of health</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class='cardImg' src="assets/images/card3.jpg">
                <mat-card-content>
                        <p>
                                You can use our app totally free with just one click!
                                Register today and start using fitness tracker abd
                                get results you always wanted!
                                This app is totally free to use, also if you want to
                                donate you can click button bellow.
                        </p>
                </mat-card-content>
                <mat-card-actions>
                        <button mat-button>DONATE</button>
                </mat-card-actions>
        </mat-card>
</div>